/* page.module.css */

:root {
  --primary-color: #282863; /* Azul escuro */
  --secondary-color: #f2f2f2; /* Cinza claro */
  --accent-color: #50bfa0; /* Verde */
  --text-color: #333; /* Texto principal */
  --text-light-color: #777; /* Texto claro */
  --border-radius: 8px;
  --transition-speed: 0.3s;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--text-light-color);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color var(--transition-speed);
}

select:focus {
  border-color: var(--accent-color);
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

button:hover {
  background-color: var(--accent-color);
}

/* Step indicator */
.step-indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.step {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--text-light-color);
  border-radius: 50%;
  transition: background-color var(--transition-speed);
}

.step.active {
  background-color: var(--primary-color);
}

.step.completed {
  background-color: var(--accent-color);
}
